
body{
  padding: 100px 0 0 0;
  background-color: rgba(51, 56, 53, 0.19);
}

header{
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 120px;
  background-color: rgba(22, 206, 212, 0.68);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 2px 3px 4px black;
  z-index: 2;
  position: fixed;
}

header input{
  width: 100%;
  height: 40px;
  border-radius: 5px 25px 25px 5px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 10px;
  margin-left: 20px;
  position: fixed;
  text-indent: 15px;
  font-size: 15px;
  border: 0px;
  float: left;
  color: #fff;
  outline: none;
  font-weight: 400;
  box-shadow: none;
}
header input::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

header input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

header input::placeholder {
  color: #fff;
}

header button{
  width: 50px;
  height: 50px;

  position: absolute;
  top: 10px;
  right: 1px;
  z-index: 1;

  border-radius: 25px;
  background: #fff;
  color: blue;
  font-size: 15px;
  border: 0px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

header button svg{
  width: 36px;
  height:50px;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
}

ul.todo{
  width: 100%;
  float: left;
}

div .buttons{
  background-color: transparent;
  background: none;
  margin: 0;
}

ul.todo li{
  width: 50%;
  height: 40px;
  padding: 20px;
  background-color: #fff;
  margin: 1%;
  border-radius: 10px;
  color: black;
}

ul.todo li .buttons button{
 width: 30px;
 height: 30px;
 float: right;
 background: none;
 position: relative;
 border: none;
 outline: none;
 cursor: pointer;
}


ul.todo li .buttons button svg{
  top: 50%;
  left: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
}

ul.todo li .buttons button.remove:hover svg{
  fill: red;
}

ul.todo li .buttons button.complete:hover svg{
  background: rgba(37, 185, 154, 0.75);
  border-radius: 10px;
  fill: #fff;
}

ul#completed li {
  background: rgba(37, 185, 154, 0.75);
}

ul#completed li .buttons button.complete svg{
  display: none;
}
